@import 'variables';
@import 'mixins';


body,
html {
    height: 100%;

}

body {
    font-family: $font;
    margin: 0;


    background: {
        color:map-get($colors,text-light);
        image: url('../img/casa.webp');
        position: center;
        size: cover;
        repeat:no-repeat;
       
    }


    .bg {
        clip-path: polygon(0 0, 35% 0, 65% 100%, 0% 100%);
        background-color: map-get($colors,primary);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;

        @include desktop {
            clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%);
        }
    }


}


main {
    color: map-get($colors,text-dark);
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "card"
        "primary";
    align-items: start;


    @include desktop {
        display: grid;
        grid-template-columns: 70% auto;
        grid-template-rows: 100%;
        grid-template-areas: "primary card";

    }

    section.card {
        grid-area: card;
        background-color: map-get($colors,primary-light);
        margin: 1em auto;
        padding: $padding;
        border-radius: $radius;
        box-shadow: $shadow;
        width: 80%;


        @include desktop {
            align-self: flex-end;
            margin: 1em;
        }

        ul {
            list-style-type: none;

            li {
                margin-bottom: 10px;

                .circulo {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: map-get($colors,primary-dark);
                    border-radius: 50%;
                    margin-right: 10px;
                }

                strong {
                    display: inline-block;
                    margin-left: max(40px);
                }
            }
        }
    }

    section.primary {
        grid-area: primary;
        padding: $padding;

        @include desktop {
            text-align: left;
            margin: 4em 0 0 4em;
            color:map-get($colors,text);
        }

        h1 {
            font: {
                family: $font-title;
                size: 4em;
            }

            @include desktop {
                font-size: 6em;
            }
        }

        p {
            font-size: 1.4em;
        }

        a {
            background-color: map-get($colors,primary-light);
            color: map-get($colors, text-dark);
            border-radius: $radius;
            box-shadow: $shadow;
            font-weight: bold;
            display: block;
            padding: $padding;

            text: {
                decoration: none;
                transform: uppercase;
                align: center;
            }

            @include desktop {
                display: inline-block;
                padding: $padding;
            }
        }
    }
}