<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- SITE TITLE -->
   <title>Instituto Onnara</title>

   <meta
   name="keywords"
   content="Responsive, HTML5, DSAThemes, One Page, Landing, Software, Mobile App, SaaS, Startup, Creative, Freelancers, Digital Product"
   />

   <!-- FONTS  -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
   
   <!-- CSS LINKS -->
   <link rel="stylesheet" href="../css/style.css">
   
   
   <!-- MORE ICONS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>

</head>

<body>
	<!-- SUB HEADER -->
	<header class="sub-header">
        
        <!-- NAVBAR -->
        <div class="navbar">
            <a href="../index.html">
                <img class="logo" src="../assets/images/logo.png" alt="LOGO">
            </a>
            <h3>INSTITUTO <br>COREANO ONNARA</h3>
            <nav>
                <ul>
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="./courses.html">CURSOS</a></li>
                    <li><a href="./teachers.html">QUIENES SOMOS</a></li>
                    <li><a href="./contact.html">CONTACTO</a></li>
                </ul>
            </nav>
        </div>

        <section class="container">
            <h1>Contacto</h1>
        </section>

	</header>
	<!-- HEADER FINISH -->    

    <main>
        <section class="contact-us">

            <div class="row">
                <div class="contact-col">
                    <div>
                        <i class="fa fa-home"></i>
                        <span>
                            <h5>...</h5>
                            <p>..., Capital Federal</p>
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <span>
                            <h5>+54 11-3514-1840
                            </h5>
                            <p>Lunes a Viernes, 10AM to 6PM</p>
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-envelope-o"></i>
                        <span>
                            <h5>onnarainstituto@gmail.com</h5>
                            <p>Mandanos un email</p>
                        </span>
                    </div>
                </div>
                <div class="contact-col">

                    <form action="form-handler.php" method="post">
                        <input type="text" name="name" placeholder="Enter your name" required>
                        <input type="email" name="email" placeholder="Enter email address" required>
                        <input type="text" name="subject" placeholder="Enter your subject" required>
                        <textarea rows="8" name="message" placeholder="Message" requiered></textarea>
                        <button type="submit" class="hero-btn red-btn">Send Message</button>
                    </form>
                </div>
            </div>
            
        </section>
    </main>

    <!-- inicio footer -->
	<footer class="footer">
		<h3>Contactos</h3>
        <p>온나라 한글학교 | Tel. + 54 (011) 11-3514-1840 | Mail: onnara@gmail.com <br> Directora: ... | Administradora: ...</p>
        <div class="icons">
            <a href="">
                <i class="fa fa-facebook"></i> 
            </a>
            <a href="">
                <i class="fa fa-instagram"></i> 
            </a>
            <a href="">
                <i class="fa fa-whatsapp"></i> 
            </a>
        </div>
	</footer>
	<!-- fin footer -->
</body>
</html>
