<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SITE TITLE -->
    <title>Instituto de Idiomas</title>

    <!-- FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    
    <!-- CSS LINKS -->
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
	<!-- HEADER -->
	<header class="header">
        
        <!-- NAVBAR -->
        <div class="navbar">
            <img class="logo" src="../assets/images/logo.jpg" alt="LOGO">
            <nav>
                <ul>
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="./courses.html">CURSOS</a></li>
                    <li><a href="./teachers.html">PROFESORES</a></li>
                    <li><a href="./gallery.html">QUIENES SOMOS</a></li>
                    <li><a href="./contact.html">CONTACTO</a></li>
                </ul>
            </nav>
        </div>
	</header>
	<!-- HEADER FINISH -->    
</body>
</html>
